/* Set full background image */
body {
   /*  background-image: url("../images/background.jpg"); */
   background-image: url("images/background.jpg");
    background-size: cover;
    backdrop-filter: blur(2px);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main container styling */
.container {
    padding: 40px;
    border-radius: 15px;
    max-width: 900px;
    margin: 80px auto;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    background: rgba(236, 233, 233, 0.8);
    backdrop-filter: blur(15px);
}

/* Header */
.container h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Buttons */
.container a.btn {
    margin: 8px 10px 0 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Button hover effect */
.container a.btn:hover {
    background-color: #004080;
    color: white;
}
